body {
	font-family: 'Droid Sans', arial;
	color: white;
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

a {
	color: white;
}

a:hover {
	color: purple;
}

img {
	border: 3px solid MidnightBlue;
	/*border-radius: 9999999px;*/
	float: right;
	height:	250px;
	max-width: 100%;
	max-height: 100%;
}


p, li {
	line-height: 24px;
}

table {
	width: 50%;
}

h5 {
	font-weight: bold;
}

.jumbotron {
	color: MidnightBlue;
	background-color: LightSlateGray;
	margin: 20px auto;
  	padding: 20px;
  	font-family: 'Special Elite', sans-serif;
}

.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th {
  background-color: DimGray;
}

.list-group {
	color: black;
}

#jumbotext {
	font-family: 'Dancing Script', sans-serif;
}

#wrapper {
  width: 960px;
  margin: 20px auto;
  padding: 20px;
}
